@model List<Record>
<form asp-action="Index" asp-controller="Records">


    <h2>Records List</h2>
    <p>
        <a href="@Url.Action("Create")">Create New Record</a>
    </p>
    <input name="Name"/>
    <input type="submit"/>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Id</td>
                <td>@record.Name</td>
                <td>
                    <a href="@Url.Action("Details", new { id = record.Id })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = record.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = record.Id })">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>